/*Generales */
.btn-primary img{
    height: 30px;
}

.Centrado {
    text-align: center;
}

/*Página principal */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
    
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    filter: invert(100%);   
}

.seg-fila {
    background-color: gray;
}