/*Nosotros */
.Historia {
    text-align: center;
    margin: auto;
    color: white;
 }

.Desc {
    margin: auto;
    text-align: justify;
    color: white;
}

.Justificado {
    margin: auto;
    text-align: justify;
}

.prim-fila {
    background-image: url(../Imagenes/biblioteca.jpg);
    opacity: .5;
}

.valores img{
    max-width: 400px;
}

.Centrado {
    text-align: center;
}

.Centrado img {
    max-height: 45px;
}