*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    color: #555;
    background-color: #fff;
}

h2{
    text-align: center;
    padding-bottom: 5px;
}

.chart{
    width: 1200px;
    height: 650px;
    padding: 50px;
    margin: 0 auto;
}